<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <i class="logo-icon fas fa-grin-alt"></i>
        <span class="logo-title">Dataface</span>
      </a>
    </div>

    <!-- <div id="navbar-menu" class="navbar-menu is-static">

      <div class="navbar-end">
        <a href="#" class="navbar-item is-secondary">
          Features
        </a>
        <a href="#" class="navbar-item is-secondary">
          Pricing
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Dropdown
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Dropdown item
            </a>
            <a class="navbar-item">
              Dropdown item
            </a>
            <a class="navbar-item">
              Dropdown item
            </a>
          </div>
        </div>
        <a href="#" class="navbar-item is-secondary">
          Log in
        </a>
        <a class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">
            Sign up
          </span>
        </a>
      </div>
    </div> -->
  </div>
</nav>
